@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WatchStore.Models.CHITIETPN>
@{
    ViewBag.Title = "Chi Tiết Phiếu Nhập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2>CHI TIẾT</h2>
<hr />
@using (Html.BeginForm("ChiTietPN", "QlyNhapHang", FormMethod.Get))
{
    <div class="col-lg-8">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" value="@ViewBag.TuKhoa" placeholder="Tìm kiếm theo mã đơn hàng" name="timkiem">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </span>
           
        </div>
    </div>
}
@if (TempData["thongbao"] != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <strong>@TempData["thongbao"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<br />
<br />
<br />

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
</style>


<table id="customers">
    <thead>
        <tr>
            <th>
                Mã phiếu nhập
            </th>

            <th>
                Số lượng
            </th>
            <th>
                Tổng tiền
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @string.Format("{0:0,0}", @item.Gia) VNĐ
                </td>
            </tr>
        }
    </tbody>
</table>
@*Tạo link liên kết các trang*@

<div>
    @Html.PagedListPager(Model, page => Url.Action("ChiTietPN", new { @timkiem = @ViewBag.TuKhoa, page = page }))
    @Html.ActionLink("Trở về", "DanhSachPhieuNhap", null, new { @class = "btn btn-danger" })
</div>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
